/* Header Start */

header {
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(85, 226, 226);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;

}

/* Banner Section */

.banner {
    background-image: url("../images/space-banner.jpg");
    background-size: cover;
    background-position: 1%;
    border: 1px solid blue;
    width: 100%;
    height: 200px;
}

.subtitle {
    z-index: 10;
    font-size: 47px;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin: 30px 20px 0 0;
    text-shadow: 5px 10px 15px rgb(214, 187, 221);
    -webkit-text-stroke: 1px black;
}

/* About Me Section */

.about-me {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    border: 1px solid black;
    padding: 20px;
}

.side-text h2 {
    font-size: 46px;
    flex: 1 30%;
    padding: 20px 30px 0 0;
    margin: 20px 30px 0 0;
    position: relative;
    width: 100%;

    /* border-right: 2px solid black;
    padding: 20px 100px 20px 100px;
    margin-left: 30px;
    font-size: 40px;
    border-bottom: 2px solid black;
    background-color: aqua;
    text-align: right;
    width: 30%;
    display: flex;
    justify-content: center;
    flex: 1 30%; */
}

.about-text {
    margin: 0 0 0 60px;
    padding: 0 0 0 60px;
    border-left: 2px solid black;
    width: 50%;
}

/* Work Section */

.work {
    /* display: flex;
    justify-content: space-between; */
    background-color: blue;
    padding: 10px;
    border: 10px solid red;
    /* margin: 20px; */
    height: 1200px;
    width: 100%;
    position: relative;
}

.work img {
    width: 400px;
    height: 300px;
    margin: 5px;
    padding: 5px;
}

.main {
    top: 110px;
    left: 500px;

    border: 2px solid red;
    position: absolute;
    
}

.main img {
    width: 800px;
}

.one {
    left: 475px;
    top: 450px;
    border: 2px solid green;
    position: absolute;
}

.two {
    left: 925px;
    top: 450px;
    border: 2px solid green;
    position: absolute;
}